<div class="left">
	<h1 class="left"><a href="{{ root_url }}/">{{ site.title }}</a></h1><br />
	<h3 class="left"><a href="{{ root_url }}/about-me">{{site.subtitle}}</a></h3>
</div>
<nav class="menu left">{% include navigation.html %}</nav>
<div class="right">
	<div class="social right">
		{% if site.facebook_user %}
		<a class="facebook" href="http://www.facebook.com/{{ site.facebook_user }}" title="Facebook">Facebook</a>
		{% endif %}
		{% if site.googleplus_user %}
		<a class="google" href="https://plus.google.com/{{ site.googleplus_user }}" title="Google+">Google+</a>
		{% endif %}
		{% if site.twitter_user %}
		<a class="twitter" href="http://twitter.com/{{ site.twitter_user }}" title="Twitter">Twitter</a>
		{% endif %}
		{% if site.github_user %}
		<a class="github" href="https://github.com/{{ site.github_user }}" title="GitHub">GitHub</a>
		{% endif %}
	</div>
</div>
{% include custom/header.html %}